form {
  .form-line,
  .form-group {
    margin-bottom: 8px;
  }
  hr {
    border: 0;
    border-top: 3px double #ccc;
    width: 100%;
  }

  .check-small {
  }

  .form-line {
    margin-top: 8px;

    label {
      display: inline-block;
      min-width: 80px;
    }

    input[type="text"] {
      background: transparent;
      height: 18px;
      border: 2px solid;
      max-width: 250px;
      width: 50%;
      border-color: rgba(#000, 0.6);
    }

    .wrapper {
      display: inline-block;
      line-height: 2em;
      width: 40%;
      text-align: right;
    }
  }

  .number-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    label {
      text-align: right;
    }
    .score {
      display: inline-block;
      width: 100%;
      text-align: left;
    }

    .wrapper {
      margin: 0 4px;
    }
    .col {
      width: 33%;
    }

    input[type="number"] {
      width: 20px;
      margin: 0 4px;
      line-height: 1.5em;
      -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input[type="checkbox"] + label {
    display: block;
    margin: 8px;
    cursor: pointer;
    padding: 4px;
    user-select: none;
    -webkit-tap-highlight-color: transparent; // Only for chrome on android
  }

  // Hide the original checkbox
  input[type="checkbox"] {
    display: none;
  }

  // Display the new checkbox infront of the label
  input[type="checkbox"] + label:before {
    content: "\2714";
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 4px;
    padding-bottom: 4px;
    margin-right: 8px;
    color: transparent; // Hide if not checked
    transition: 0.2s;
    background-image: radial-gradient(#cbcfcb 50%, #5f635d);
  }

  // Animate on clicking
  input[type="checkbox"] + label:active:before {
    transform: scale(0);
  }

  // If checkbox is checked
  input[type="checkbox"]:checked + label:before {
    color: #b5863a; // Show the font
  }
}

.btn {
  margin: 0px auto;
  display: block;
  align-self: center;
  border: none;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;

  &.primary {
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    margin: 20px auto;
    padding: 8px;
    min-width: 100px;
    transition: all 0.1s;
    &:active {
      transform: scale(0.95);
    }
  }

  &.delete {
    display: inline-block;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    border-radius: 0px;
    position: relative;
    width: 26px;
    height: 20px;
    right: 28px;
    background: rgba(255, 0, 0, 0.5);
  }
}
